@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root
{
      /*========== Colors ==========*/
  --hue-color: 240;

  --first-color: hsl(var(--hue-color), 53%, 49%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 1%, 4%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --container-color: #fff;
  --body-color: hsl(var(--hue-color), 24%, 94%);
  --color-danger: hsl(0, 95%, 65%);

  --color-primary-light: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
  --color-danger-light: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
  --color-success-light: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
  --color-purple-light: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);

    /* Tailles */
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem
    
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
}

body
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .main
{
    width: 580px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section .main .searchBx
{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

section .main .searchBx .query
{
    width: 100%;
    padding: 13px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    border-radius: 30px;
    padding-right: 70px;
}

section .main .searchBx .query:focus
{
    border: 3px solid var(--color-danger);
}

section .main .searchBx .icons
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: var(--text-color);
    border: none;
    background: transparent;
    cursor: pointer;
}


section .main .searchBx .icons label
{
    max-width: 100%;
    cursor: pointer;
    margin-left: 20px;
}

.searchBtn
{
    position: relative;
    margin-top: 20px;
    padding: 10px 22px;
    background: #7d2ae8;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.searchBtn:active
{
    transform: scale(0.96);
}

.searchBtn::before,
.searchBtn::after
{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 150%;
    background-repeat: no-repeat;
    z-index: -1;
}

.searchBtn.animate::before
{
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
                    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
                    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
                    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
                    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
                    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
                    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
                    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 18% 18%;
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    animation: topBubbles 0.6s ease-in-out infinite;
}

@keyframes topBubbles
{
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.searchBtn.animate::after
{
    bottom: 70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 10% 0%, 30% 10%, 55% 0%, 70% 0%, 85% 0%, 70% 0%, 70% 0%;
    animation: bottomBubbles 0.6s ease-in-out infinite;
}

@keyframes bottombubbles {
    50% {
        background-position: 0 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}