@import url('https://fonts.googleapis.com/css2?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


:root
{
      /*========== Colors ==========*/
  --hue-color: 240;

  --first-color: hsl(var(--hue-color), 53%, 49%);
  --title-color: hsl(var(--hue-color), 53%, 15%);
  --text-color: hsl(var(--hue-color), 1%, 4%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --container-color: #fff;
  --body-color: hsl(var(--hue-color), 24%, 94%);
  --color-danger: hsl(0, 95%, 65%);

  --color-primary-light: 0 0.8rem 0.8rem rgba(71, 7, 234, 0.2);
  --color-danger-light: 0 0.8rem 0.8rem rgba(255, 67, 54, 0.2);
  --color-success-light: 0 0.8rem 0.8rem rgba(34, 202, 75, 0.2);
  --color-purple-light: 0 0.8rem 0.8rem rgba(160, 99, 245, 0.2);

    /* Tailles */
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem
    
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 99%;
    max-width: 600px;
    background-color: var(--body-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

header {
    background-color: #299bd5;
    color: #fff;
    padding: 16px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.param 
{
    max-width: 600px;
    border: 1px solid #fff;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
  
.param-title 
{
    margin: 15px;
}
  
.param-toggle 
{
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 20px;
}
  
.param-icon 
{
    transition: transform 0.5s ease;
}
  
.setting
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    line-height: 24px;
    margin: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out;
}
  
.param.active .setting
{
    max-height: 300px;
}

.btn 
{
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    background: #299bd5;
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s;
}

.btn:hover 
{
    background: var(--color-danger);
    transform: scale(1.05);
}

.param.active .param-icon 
{
    transform: rotate(180deg);
}

.btn_param
{
    padding: 10px;
}

.btn_param .delete
{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-danger);
    color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s;
    border-radius: 5px;
    padding: 10px;
}

.btn_param .delete:hover
{
    background: var(--color-danger);
    transform: scale(1.05);
}
 